img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
body {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-primary);
  color: var(--colorTextPrimary);
  line-height: 1.25;
  background: var(--colorBg);
}
main {
  background-image: url('../images/background-image.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.games__title {
  text-align: center;
  font-size: 24px;
  background-color: var(--colorBg);

  margin-inline: auto;
}
.main__container {
  max-width: 1090px;
  background-color: var(--colorBg);
  margin-inline: auto;
}
.section__line {
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: '';
    display: block;
    position: relative;
    width: 536px;
    height: 1px;
    background-color: var(--colorTextPrimary);
    margin-bottom: 36px;
    margin-top: 36px;
  }
}
