$primary-color: #000000;
$second-color: #6F6F6F;
$third-color: #8ACECF;
$fourth-color: #BDBDBD;

$primary-text-color: #000000;       
$second-text-color: #757575;     
$third-text-color: #FFFFFF;     

$succes-color: #4CAF50;  
$error-color: #F44336;    

$bg-color: #FFFFFF;
$second-bg-color: #D9D9D9;
$button-bg-color: #000000;
$second-button-bg-color: #D7D7D7; 
$dropdown-item-hover-bg: #F1F1F1;