// Кольори
$colorTextPrimary: #000000;
$colorTextSecondary: #ffffff;
$colorTextThird: #039900;
$colorTextForm: #7e7e7e;
$colorBgForm: #d7d7d7;
$colorBgFootball: #5abb58;
$colorBackgroundPhotoFrame: #d9d9d9;

// Шрифти


// Тень
$shadowForm: 2.2px 2.3px 0.5px 1px rgb(189, 189, 189);