.game__title {
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 36px;
}
.football {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.football__field {
  position: relative;
  width: 720px;
  height: 220px;
  background-color: var(--colorBgFootball);
  border-radius: 37px;
  overflow: hidden;

  border: 2px solid var(--colorBtn);
}
.football__ball {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 85px;
  left: 92px;
  z-index: 2;
  transition: top 0.7s ease, left 0.7s ease;
}
