.header {
  padding: 20px 0;
  background-color: white;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__text {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__list {
  display: flex;
  list-style: none;
  gap: 30px;
}

.header__list-item {
  position: relative;
}

.header__list-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.header__list-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

// .header__list-button {
//   width: 10px;
//   height: 10px;
//   background-image: url(../images/header-down.svg);
//   background-size: contain;
//   border: none;
//   cursor: pointer;
// }

.header__filter {
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;

  list-style: none;
  padding: 10px 0;
  display: none;
}

.header__list-item:hover .header__filter {
  display: block;
}

.header__filter-button {
  background: none;
  border: none;
  padding: 10px 20px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-weight: 400;
}

.header__lowertext {
  display: flex;
  align-items: center;
  gap: 20px;
}

.swipper__input {
  width: 40px;
  height: 20px;
  appearance: none;
  background-color: #7a7a7a;
  border-radius: 20px;
  position: relative;
  cursor: pointer;

  transition: background 0.3s ease;
}

.swipper__input::before {
  content: '';
  position: absolute;
  // left: -2px;

  width: 20px;
  height: 20px;
  background-color: #ffffff;
  background-image: url('../images/sun.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
  border-radius: 50%;
  transition: 0.3s ease;
}

.swipper__input:checked::before {
  transform: translateX(20px);
  background-color: #000000;
  background-image: url('../images/moon.png');
  background-size: 12px 12px;
}

.header__user {
  font-size: 14px;
  color: #333;
}
.header__interactive {
  margin-right: 30px;
}
.header__interactive:hover,
.header__interactive::after {
  cursor: pointer;
}
.header__interactive::after {
  content: '⏷';
  width: 10px;
  height: 15px;
  position: absolute;
  transform: translateX(8);
}
