.rps-game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorTextSecondary);
  color: var(--colorTextPrimary);

  &__title {
    margin: 36px 0;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  .rps-top {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .rps-options-wrapper {
    display: flex;
    justify-content: center;
  }

  .rps-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
  }

  .rps-option {
    background-color: var(--colorInput);
    width: 60px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease, ease 0.1s outline;
    &__icon {
      width: 40px;
      height: 40px;
    }
    &:hover {
      cursor: pointer;
    }

    &:focus {
      box-shadow: 0px 0px 15px -3px rgb(255, 123, 0);
      transform: scale(0.9);
      outline: 4px dashed rgb(255, 153, 0);
      outline-offset: 7px;
    }
  }

  .rps-score {
    position: absolute;
    left: 50%;
    transform: translateX(208px);
    transform: translate(208px, -50%);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    text-align: left;
  }

  .rps-result {
    margin-top: 36px;
    font-size: 12px;
    font-weight: 400;
  }

  .rps-computer-choice-btn {
    border-radius: 20px;
    width: 182px;
    height: 35px;
    margin: 36px 0;
    font-weight: 400;
    font-size: 12px;
    background-color: var(--colorBtn);
    color: var(--colorTextForm);
    &:hover {
      cursor: pointer;
    }
  }

  .divider {
    max-width: 536px;
    background-color: var(--colorTextForm);
    width: 100%;
  }
}
